<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div style="float:left">
        <h1>Task 1</h1>
        <table border="1" style="display:inline-block">
            <caption><b><i>People</i></b></caption>
            <tr><th>id</th><th>name</th><th>delete</th></tr>
            {% for user in users %}
                <tr><td>{{ user.id }}</td><td>{{ user.username }}</td><td><a href="/del_person/{{ user.id }}/">[X]</a></td></tr>
            {% endfor %}
        </table>

        <table border="1" style="display:inline-block; margin-left:70px">
            <caption><b><i>Documents</i></b></caption>
            <tr><th>id</th><th>education</th><th>people_id</th><th>delete</th></tr>
            {% for doc in docs %}
                <tr><td>{{ doc.id }}</td><td>{{ doc.education }}</td><td>{{ doc.people_id }}</td><td><a href="/del_doc/{{ doc.id }}/">[X]</a></td></tr>
            {% endfor %}
        </table>

        <h3>Add new person</h3>
        <form action="/add_person/" method="POST">
            {% csrf_token %}
            Name<input type="text" name="name"><br>
            <input type="submit" value="Add">
        </form>

        <h3>Create new document</h3>
        <form action="/create_edu/" method="POST">
            {% csrf_token %}
            Education<input type="text" name="edu">
            <select name="person">
                {% for user in users %}
                    <option>{{ user }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Create">
        </form>
    </div>

    <div style="float:right; background-color:#eee;  width:60%">
        <h1>Task 2</h1>
        <h3>You can look through mailbox snippets of messages</h3>
        {% for m in mess %}
            <p>{{ m }}</p>
        {% endfor %}
    </div>
</body>
</html>